services:
  db:
    image: mysql:8.0.44
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DB: url_shortener
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql    

volumes:
  mysql_data:
